.idea
variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfstate.lock.info
*.tfvars
.terraform/
*.retry
jdauphant.nginx
vault.key

# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
otus_ansible/